.RemainingBudget {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	margin-top: 70px;
}
.RemainingBudget-text {
	font-size: 1rem;
}
.RemainingBudget-value {
	font-size: 1.5rem;
}
.RemainingBudget-textvalue-container {
	display: flex;
	flex-direction: column;
	text-align: left;
	margin-left: 10px;
}
